{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template course_course/coursecard

    This template renders the a card for the course cards.

    Example context (json):
    {
        "courses": [
            {
                "name": "Assignment due 1",
                "viewurl": "https://moodlesite/course/view.php?id=2",
                "courseimage": "https://moodlesite/pluginfile/123/course/overviewfiles/123.jpg",
                "fullname": "course 3",
                "hasprogress": true,
                "progress": 10
            }
        ]
    }
}}
<div class="card dashboard-card" role="listitem"
    data-region="course-content"
    data-course-id="{{{id}}}">

    <div class="c-course-box">
      <div class="c-course-content">
        <a href="{{viewurl}}" tabindex="-1">
            <div class="card-img dashboard-card-img" style='background-image: url("{{{courseimage}}}");'>
                <span class="sr-only">{{#str}}aria:courseimage, core_course{{/str}}</span>
            </div>
        </a>
        <div class="course-info-container" id="course-info-container-{{id}}-{{uniqid}}">
            <div class="d-flex align-items-start">
                <div class="w-100">
                    <div class="text-muted muted d-flex w-100 my-1 flex-wrap small">
                        {{$coursecategory}}{{/coursecategory}}
                        {{#showshortname}}
                        {{$divider}}{{/divider}}
                        <span class="sr-only">
                            {{#str}}aria:courseshortname, core_course{{/str}}
                        </span>
                        <div>
                            {{{shortname}}}
                        </div>
                        {{/showshortname}}
                    </div>
                    <a href="{{viewurl}}" class="coursename mt-3 mb-0">
                        {{> core_course/favouriteicon }}
                        <span class="sr-only">
                                {{#str}}aria:coursename, core_course{{/str}}
                            </span>
                        {{$coursename}}{{/coursename}}
                    </a>
                </div>
                {{$menu}}{{/menu}}
            </div>
        </div>
        {{$progress}}{{/progress}}
      </div>
    </div>

</div>
