{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{#sliderenabled}}
<div class="c-heroimg {{#showherologo}}c-hero-with-logo{{/showherologo}}{{^showherologo}}c-hero-without-logo{{/showherologo}}  {{#sliderfwenabled}}siema-container--fw{{/sliderfwenabled}}">

  <div class="siema-container">

      <div class="hero-slider">
      {{#slides}}
        <div class="c-hero-slider-item" style="background-image: url({{{ image }}});">
        {{#sliderclickable}}<a href="{{url}}">{{/sliderclickable}}
          
          {{^sliderhtml}}
          <div class="c-hero-content">
            {{#subtitle}}<h5 class="h5">{{{ subtitle }}}</h5>{{/subtitle}}
            {{#title}}<h3 class="h1">{{{ title }}}</h3>{{/title}}
            {{#caption}}<div class="h3">{{{ caption }}}</div>{{/caption}}
          </div>
          {{/sliderhtml}}

          {{{ sliderhtml }}}

          <img src="{{{ image }}}" alt="" class="c-hero-img w-100 d-sm-none d-md-inline" />
          
        {{#sliderclickable}}</a>{{/sliderclickable}}
        </div>
      {{/slides}}
      </div>
    </div>
</div>

<script>
  var slider = tns({
    container: '.hero-slider',
    items: 1,
    mode: 'carousel',
    slideBy: 1,
    mouseDrag: true,
    controlsText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
    loop: true,
    {{#sliderintervalenabled}}autoplayButtonOutput: false, autoplay: true, autoplayTimeout: {{sliderinterval}},{{/sliderintervalenabled}}
    controls: true
  });
</script>


{{/sliderenabled}}