{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_space/columns2

    Admin time setting template.

    space 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_space/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_space/navbar}}

    <div id="page" class="container-fluid">
        {{{ output.full_header }}}

        <div id="page-content" class="row no-gutters page-main-content">
            <div id="region-main-box">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="region-main-settings-menu d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}}>
                    {{#hasregionmainsettingsmenu}}
                    <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}

                    {{#hasblocks}}
                    <section data-region="blocks-main-top-widget" class="blocks-main-top-widget d-print-none">
                    {{{ maintopwidgets }}}
                    </section>
                    {{/hasblocks}}

                    {{{ output.main_content }}}

                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}

                    {{#hasblocks}}
                    <section data-region="blocks-main-footer-widget" class="blocks-main-footer-widget d-print-none">
                    {{{ mainfwidgets }}}
                    </section>
                    {{/hasblocks}}

                </section>
                {{#hasblocks}}
                <section data-region="blocks-column" class="sidebar-widgets d-print-none">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
    {{> theme_space/nav-drawer }}
</div>

{{> theme_space/footer }}
{{> theme_space/footer-scripts }}

</body>
</html>
{{#js}}
M.util.js_pending('theme_space/loader');
require(['theme_space/loader'], function() {
    M.util.js_complete('theme_space/loader');
});

M.util.js_pending('theme_space/drawer');
require(['theme_space/drawer'], function(drawer) {
    drawer.init();
    M.util.js_complete('theme_space/drawer');
});
{{/js}}
