{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}

<footer id="page-footer" class="s-footer">

  <div class="c-container">

        {{# footercustomnav }}{{{ footercustomnav }}}{{/ footercustomnav }}

        <div class="s-footer--copy row no-gutters">

          <div class="s-footer--additional col-12 contact p-0">
              <ul class="list-inline">
                  {{#website}}<li class="d-sm-block d-lg-inline mb-sm-3 mb-lg-0 mr-sm-0 mr-lg-4"><i class="mx-2 fas fa-globe-africa"></i><a href="{{{cwebsiteurl}}}" target="_blank">{{{website}}}</a></li>{{/website}}
                  {{#mobile}}<li class="d-sm-block d-lg-inline mb-sm-3 mb-lg-0 mr-sm-0 mr-lg-4"><i class="mx-2 fas fa-mobile-alt"></i>{{{mobile}}}</li>{{/mobile}}
                  {{#mail}}<li class="d-sm-block d-lg-inline"><i class="mx-2 far fa-envelope-open"></i>{{{mail}}}</li>{{/mail}}
              </ul>
          </div>

          {{#showsociallist}}
          <div class="s-footer--social col-12 mt-2 mb-1 social p-0">
            <ul class="list-social list-inline m-b-1 mx-0">
                {{#facebook}}
                  <li class="list-inline-item">
                    <a href="{{{facebook}}}" target="_blank" class="facebook">
                      <i class="mr-2 fab fa-facebook"></i>
                    </a>
                  </li>
                {{/facebook}}

                {{#twitter}}
                  <li class="list-inline-item">
                    <a href="{{{twitter}}}" target="_blank" class="twitter">
                      <i class="mr-2 fab fa-twitter"></i>
                    </a>
                  </li>
                {{/twitter}}

                {{#googleplus}}
                  <li class="list-inline-item">
                    <a href="{{{googleplus}}}" target="_blank" class="googleplus">
                      <i class="mr-2 fab fa-google-plus-g"></i>
                    </a>
                  </li>
                {{/googleplus}}

                {{#linkedin}}
                  <li class="list-inline-item">
                    <a href="{{{linkedin}}}" target="_blank" class="linkedin">
                      <i class="mr-2 fab fa-linkedin"></i>
                    </a>
                  </li>
                {{/linkedin}}

                {{#youtube}}
                  <li class="list-inline-item">
                    <a href="{{{youtube}}}" target="_blank" class="youtube">
                      <i class="mr-2 fab fa-youtube"></i>
                    </a>
                  </li>
                {{/youtube}}

                {{#instagram}}
                  <li class="list-inline-item">
                    <a href="{{{instagram}}}" target="_blank" class="instagram">
                      <i class="mr-2 fab fa-instagram"></i>
                    </a>
                  </li>
                {{/instagram}}

                {{#customsocialicon}}
                  {{{customsocialicon}}}
                {{/customsocialicon}}                
            </ul>
          </div>
          {{/showsociallist}}

          <div class="col-12 my-3 p-0">
            <span class="copy">© {{{ sitename }}}</span>{{#copyrightText}}<span class="sep">{{{copyrightText}}}</span>{{/copyrightText}}
          </div>

          {{#CustomFooterText}}
          <div class="footer-custom-text--small col-md-11 col-lg-6 m-b-2 p-0">
            {{{CustomFooterText}}}
          </div>
          {{/CustomFooterText}}

        </div>

        <div class="o-course-footer">
            <div id="course-footer">{{{ output.course_footer }}}</div>
            <div class="tool_usertours-resettourcontainer"></div>
        </div>

        <div class="o-standard-footer-html">{{{ output.standard_footer_html }}}</div>

        {{# output.page_doc_link }}
        <div class="o-page-doc-link">
            <p class="helplink">{{{ output.page_doc_link }}}</p>
        </div>
        {{/ output.page_doc_link }}
  </div>

</footer>

<a href="#top" class="back-to-top" id="backToTop" title="Back to top"><i class="fas fa-arrow-circle-up"></i></a>

{{#CustomAlert}}
<div id="customAlert" class="cookiealert c-alert alert alert-warning alert-dismissible" role="alert">
  <div class="c-alert-content">{{{CustomAlertContent}}}</div>
  <button id="customAlertClose" type="button" class="acceptcookies c-alert-close-btn" aria-label="Close">{{{CustomAlertButton}}}</button>
</div>
{{/CustomAlert}}

{{#CustomModal}}
<div id="customModal" class="modal-fixed" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button id="customModalClose" type="button" class="close" data-dismiss="modal-fixed" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {{{CustomModalContent}}}
        {{{CustomModalContentHTML}}}
      </div>
    </div>
  </div>
  <div class="modal-backdrop in show" aria-hidden="true" data-region="modal-backdrop" style="z-index: -1;"></div>
</div>

<script>
  var customModal = $("#customModal"),
      customModalToggle = $("#customModalClose");

  customModalToggle.on("click", function(e) {
     e.preventDefault();
     customModal.toggleClass("fade");
  });
</script>
{{/CustomModal}}


{{{ output.standard_end_of_body_html }}}
