{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
}}

<div id="topBar1" class="s-top s-top--sidebar justify-content-center {{#ShowTopBarUserName}}showusername{{/ShowTopBarUserName}}">

  {{> theme_space/navbar-mobile }}

  <div id="navBar" class="s-top-container c-container row no-gutters justify-content-start align-items-center">

    {{> theme_space/navbar-btn }}

    {{#customlogotopbar}}
    <div class="logo d-sm-none d-md-inline px-sm-3 px-md-2 col-sm-12 col-md-auto text-sm-center text-md-left">
        <a href="{{{ config.wwwroot }}}"><img src="{{customlogotopbar}}" alt="{{sitename}}" /></a>
    </div>
    {{/customlogotopbar}}

    {{#customtopnavhtml}}
    <div class="col-sm col-md-auto s-custom-main-nav text-sm-center text-md-left mx-md-3 p-0">
      <nav class="c-custom-main-nav navbar navbar-expand-md p-0">
        {{{customtopnavhtml}}}
      </nav>
    </div>
    {{/customtopnavhtml}}

    <div class="c-nav-user nav ml-sm-center ml-md-auto align-items-center justify-content-center">

        {{#ShowTopBarText}}<div class="c-top-text c-menu-sep p-md-0 mr-md-3 pr-md-3">{{{TopBarText}}}</div>{{/ShowTopBarText}}
        <div class="search-box d-block">
        {{{ output.search_box }}}
        </div>

        <!-- navbar_plugin_output -->
        <div class="top-icons-nav c-menu-sep mr-md-3">{{{ output.navbar_plugin_output }}}</div>

        {{#output.render_lang_menu}}<div class="c-lang-menu c-menu-sep">{{{ output.render_lang_menu }}}</div>{{/output.render_lang_menu}}

        {{#ShowCustomNav}}<div class="c-custom-nav-container c-menu-sep d-indivne-block mr-md-3">{{> theme_space/custom-nav }}</div>{{/ShowCustomNav}}

        <!-- user_menu -->
        <div class="c-user-menu">
            {{{ output.user_menu }}}
        </div>

    </div>
    <!-- search_box -->
  </div>

</div>
