// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.dropdown-toggle {
  table & {
    padding: 0.5rem 1rem;
  }

  &:before {
    display: none;
  }
}

#installfromrepobox {
  .btn-icon {
    position: relative;
    top: 5px;
    margin-left: 10px;
  }
}

.btn-icon {
  display: inline-block;
  text-decoration: none;

  &[data-toggle="popover"] {
      text-align: center;

      i {
        margin: 0!important;
        font-size: inherit;
      }
  }

  &:hover {
    text-decoration: none;
  }
}

[data-fieldtype="date_time_selector"] {
  a {
    padding: 10px;
    line-height: 0;
  }
}

.btn,
#page-grade-grading-manage .actions .action,
.fdescription a,
.moodle-dialogue-bd [data-cancel-button],
.modal-dialog .modal-footer a,
.backlink a,
.tool_dataprivacy-expand-all,
#prev-activity-link,
#next-activity-link,
.section-handle.moodle-core-dragdrop-draghandle,
.filepicker-filename a,
.forumpost .footer a,
#page-admin-roles-permissions .preventlink,
#page-admin-roles-permissions .preventlink .forbidden,
#page-admin-roles-permissions .allowlink,
#page-admin-roles-permissions .prohibitlink,
table.form-autocomplete-suggestions,
.form-autocomplete-suggestions a,
fieldset .form-autocomplete-suggestions a,
[data-action="addstandardtag"],
#page-admin-roles-permissions .role_buttons input[type="button"],
#page-grade-edit-letter-index #region-main .mdl-align a,
.path-admin-tool-assignmentupgrade #region-main div:last-child.mdl-align a,
#page-admin-user-profile-index a[title="Edit"],
#page-admin-user-profile-index a[title="Delete"],
#page-admin-tool-httpsreplace-index [role="main"] p a,
[data-fieldtype="tags"] a,
#adminsettings fieldset h3 a:not([class=btn-icon]),
.collapsibleregioncaption a:not(.btn-icon),
.notesgroup p a,
/* btn-sm */
td .commands a,
.discussionsubscription a,
/* btn-reset */
.resettable a,
#page-course-switchrole [role="main"] .m-b-1:last-of-type a,
/* btn-primary */
.allcoursegrades a,
.createstep,
.card-text .footer + a,
#page-tag-search #tag-search-box form input[type="submit"],
.notification-area .content-area .footer a,
#changenumsections a,
#page-admin-grade-edit-letter-index #region-main .mdl-align a,
#page-admin-setting-webservicetokens [role="main"] fieldset a,
.logselecform input[type="submit"],
#page-mod-forum-subscribers .subscribertable tr td.actions .actionbutton,
input.form-submit,
#id_addidnumbers,
/* btn-xs */
.editquestion a,
#page-mod-quiz-attempt .questionflag,
.iconcol a,
.addbloglink a,
.progress-actions a,
.dropdown-toggle,
.backlink a,
.action-menu .dropdown-toggle,
.section-modchooser .section-modchooser-link a,
.feedback_mapped_courses .mdl-align a,
#buttonscell input[type="submit"],
.typesummary .helplinkpopup,
#page-mod-quiz-edit .editing_section,
#page-mod-glossary-view .commands a.icon,
#page-mod-glossary-showentry .commands a.icon,
.comment-area .fd a,
.subscribelink a,
.forumpost .link a,
.reportlink a,
#showall a,
.printicon,
.printicon.btn-action,
.comment-link,
.recipelink a,
.midpad a,
.addtomyinterests,
.flagasinappropriate,
.removefrommyinterests,
.edittag,
[data-action="delete-competency-link"],
#participants td a[role="button"],
.usp-finish [type="submit"],
.bookprev,
.booknext,
.bookexit,
.submitbtns .arrow_link,
.mod_quiz-next-nav,
.edit_pages_box .addlinks a,
.newlink a,
.book_toc_numbered .action-list a,
.activity .action-menu-item a,
.checkforupdates [type="submit"],
.continuebutton [type="submit"],
#page-mod-quiz-report .toggleincludeauto a,
.paging-morelink,
.userpicture a:not(:first-child),
#page-user-profile .node_category .viewmore a, .path-user .node_category .viewmore a,
#enabletemplateeditor,
.itemnav a,
.section-navigation a,
.availability-delete,
.cancel a,
.usp-search-btn,
.block_blog_menu [type="submit"],
.forum-post-footer a,
.tag-backtoallitems a,
.tool_dataprivacy a,
[data-region="actions"] p a,
.path-mod-forum .discussion-nav .next-discussion,
.path-mod-forum .discussion-nav .prev-discussion,
.c-lang-menu .dropdown-toggle,
.qtype_multichoice_clearchoice a,
.usertour a,
#theme_switch_link a,
.quizattemptcounts a,
#page-enrol-index .box [type="submit"],
.commentlink a,
.exclusivemode,
#core-cache-rescan-definitions a,
.edit-link a,
#page-admin-tool-usertours-configure .btn-action,
.tour-actions a,
#page-admin-mod-glossary-formats .generalbox [type="submit"],
.movecategory [role="button"],
.movefield [role="button"],
.export-actions a,
.addcomponent,
.o-standard-footer-html a,
.felement .btn-action,
.helplink a,
.editprofile span a,
.userenrolment .col_role .addrole .assignrolelink,
.unassignrolelink,
.custompages-add,
#page-mod-quiz-edit ul.slots li.section li.activity .editing_delete
{
  display: inline-block;
  text-align: center;

  vertical-align: middle;

  border-radius: $btn-border-radius;

  padding: $btn-padding-y $btn-padding-x;

  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: 180%;

  text-decoration: none;
  @include transition($btn-transition);

  &:hover {
    text-decoration: none;
  }
}

  .btn {

      .tag {
        background-color: $theme-color-3;
      }

      .icon {
        font-size: 1rem;
        line-height: 1;
        margin: 0;

        &.fa-cog {
          margin: 0;
        }

        &.fa-search-plus {
          margin-right: 0.5rem;
        }
      }

      .icon + .d-sm-inline-block,
      .icon + .header-button-title,
      .icon + span {
        margin-left: 0.5rem;
      }

      // Share hover and focus styles
      @include hover-focus {
        text-decoration: none;
      }

      &:focus,
      &.focus {
        outline: 0;
        box-shadow: inset 0 0 0 2px rgba($theme-color-3,.25);
      }

      // Disabled comes first so active can properly restyle
      &.disabled,
      &:disabled {
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
        cursor: not-allowed;
      }

      // Opinionated: add "hand" cursor to non-disabled .btn elements
      &:not(:disabled):not(.disabled) {
        cursor: pointer;
      }

      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active {
        @include box-shadow($btn-active-box-shadow);

        &:focus {
          box-shadow: inset 0 0 0 2px rgba($theme-color-3,.25);
        }
      }
  }

.btn-primary,
.btn-default,
.allcoursegrades a,
.createstep,
#page-tag-search #tag-search-box form input[type="submit"],
.notification-area .content-area .footer a,
#changenumsections a,
#page-admin-grade-edit-letter-index #region-main .mdl-align a,
#page-admin-setting-webservicetokens [role="main"] fieldset a,
.logselecform input[type="submit"],
#page-mod-forum-subscribers .subscribertable tr td.actions .actionbutton,
input.form-submit, #id_addidnumbers,
.section-modchooser-link a,
.addbloglink a,
.progress-actions a,
.discussionsubscription a,
.block .footer a,
.section-modchooser .section-modchooser-link a,
.mod_quiz-next-nav,
.newlink a,
.checkforupdates [type="submit"],
.continuebutton [type="submit"],
.bookexit,
#newentryform .btn-secondary,
#page-mod-quiz-summary .submitbtns [type="submit"],
.path-mod-quiz .othernav a.mod_quiz-next-nav,
#enabletemplateeditor,
.usp-finish [type="submit"],
.block_blog_menu [type="submit"],
.forum-post-footer a,
.btn-dark,
[data-region="actions"] p a,
.quizattemptcounts a,
#page-enrol-index .box [type="submit"],
#core-cache-rescan-definitions a,
.edit-link a,
#page-admin-mod-glossary-formats .generalbox [type="submit"],
[data-action="addstandardtag"],
.addcomponent,
.editprofile span a,
#page-mod-quiz-attempt .questionflag,
.custompages-add,
.section-modchooser-link
{
  color: $btn-primary-text!important;

  background-color: $btn-primary-bg!important;
  border: $btn-primary-border-width solid $btn-primary-border!important;
  box-shadow: 0 1px 1px rgba($btn-primary-shadow,.15), 0 1px 2px rgba($btn-primary-shadow,.15), 0 1px 2px rgba($btn-primary-shadow,.15), 0 2px 4px rgba($btn-primary-shadow,.15), 0 4px 12px rgba($btn-primary-shadow,.15)!important;
  transition: $btn-transition;

  &:hover {
    background-color: $btn-primary-bg-hover!important;
    border-color: $btn-primary-border-hover!important;
    box-shadow: 0 1px 1px rgba($btn-primary-bg-hover,.55), 0 2px 2px rgba($btn-primary-bg-hover,.35), 0 4px 4px rgba($btn-primary-bg-hover,.15), 0 6px 8px rgba($btn-primary-bg-hover,.15), 0 8px 16px rgba($btn-primary-bg-hover,.15)!important;
  
    a { color: $btn-primary-text-hover; }
  }

  i {
    color: $btn-primary-text;
  }
}

      .section-modchooser-link {
        width: 100%;
        display: block;

        a:hover {
          text-decoration: none;
        }
      }

      .path-mod-quiz .othernav {
        text-align: center;

        a {
          display: block;
          &:hover {
            text-decoration: none;
          }
        }

      }

      .comment-delete {
        padding: 0.5rem;

        a {
          &:before {
            display: none;
          }
        }

        .icon {
          font-size: 14px;
          color: $btn-secondary-text;
        }
      }

      .forumpost .footer a {
        &:before {
          display: none;
        }
      }

      .newlink a {
        width: 100%;
      }

.btn-reset,
.btn-danger,
.resettable a,
#page-course-switchrole [role="main"] .m-b-1:last-of-type a,
#removecontrols #remove,
[data-action="delete-competency-link"],
.submit_buttons [name="cancel"],
.usertour a,
.fp-file-delete,
.tagdeleteselected,
[data-action="cancel-review-request"],
.qtype_multichoice_clearchoice a,
.unassignrolelink,
#page-mod-quiz-edit ul.slots li.section li.activity .editing_delete
{
  color: $btn-reset-text!important;

  background-color: $btn-reset-bg!important;
  box-shadow: 0 1px 1px rgba($btn-reset-shadow,.15), 0 1px 2px rgba($btn-reset-shadow,.15), 0 1px 2px rgba($btn-reset-shadow,.15), 0 2px 4px rgba($btn-reset-shadow,.15), 0 4px 12px rgba($btn-reset-shadow,.15)!important;

  border: 1px solid $btn-reset-border!important;

  transition: $btn-transition;

  i {
      color: $btn-reset-text;
  }

  &:hover {
    background-color: $btn-reset-bg-hover!important;
    color: $btn-reset-text-hover!important;
    border-color: $btn-reset-border-hover!important;
    box-shadow: 0 1px 1px rgba($btn-reset-bg-hover,0.08), 0 2px 2px rgba($btn-reset-bg-hover,0.12), 0 4px 4px rgba($btn-reset-bg-hover,0.14), 0 6px 8px rgba($btn-reset-bg-hover,0.16),0 8px 16px rgba($btn-reset-bg-hover,0.18)!important;

    a { color: $btn-reset-text-hover; }
  }
}


.btn-special,
.settings-menu .btn-secondary
{
  background-color: $btn-special-bg!important;
  border: $btn-special-border-width solid $btn-special-border!important;
  color: $btn-special-text!important;

  box-shadow: 0 1px 1px rgba($btn-special-shadow,0.15),
              0 2px 2px rgba($btn-special-shadow,0.15),
              0 4px 4px rgba($btn-special-shadow,0.15),
              0 8px 8px rgba($btn-special-shadow,0.15)!important;

  &:hover {
    border-color: $btn-special-border-hover!important;
    box-shadow: 0 1px 3px rgba($btn-special-border-hover,0.25),
                0 2px 5px rgba($btn-special-border-hover,0.25),
                0 4px 7px rgba($btn-special-border-hover,0.25),
                0 8px 9px rgba($btn-special-border-hover,0.25)!important;
  
    a { color: $btn-special-text-hover!important; }
    
  }
}



.btn-cta {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  border-radius: $border-radius;

  padding: 1.25rem 2rem;

  font-size: $font-size-base;
  font-weight: $font-weight-sm-bold;
  line-height: 180%;

  transition: $general-transition;

  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.5);

  @include media-breakpoint-between(sm, md) {
    display: block;
    width: 100%;
    padding: 0.5rem 1.15rem;
    font-size: 14px;
  }

  &:hover {
    box-shadow: 0 6px 28px 0 rgba(0, 0, 0, 0.8);
  }

}

  .btn-cta--primary {
    color: $btn-primary-text!important;

    background-color: $btn-primary-bg!important;
    border: $btn-primary-border-width solid $btn-primary-border!important;
    box-shadow: 0 1px 1px rgba($btn-primary-shadow,.15), 0 1px 2px rgba($btn-primary-shadow,.15), 0 1px 2px rgba($btn-primary-shadow,.15), 0 2px 4px rgba($btn-primary-shadow,.15), 0 4px 12px rgba($btn-primary-shadow,.15)!important;
    transition: $btn-transition;
  
    &:hover {
      background-color: $btn-primary-bg-hover!important;
      border-color: $btn-primary-border-hover!important;
      box-shadow: 0 1px 1px rgba($btn-primary-bg-hover,.55), 0 2px 2px rgba($btn-primary-bg-hover,.35), 0 4px 4px rgba($btn-primary-bg-hover,.15), 0 6px 8px rgba($btn-primary-bg-hover,.15), 0 8px 16px rgba($btn-primary-bg-hover,.15)!important;
    
      a { color: $btn-primary-text-hover; }
    }
  
    i {
      color: $btn-primary-text;
    }
  }

  .btn-cta--secondary {
    background-color: $btn-secondary-bg;
    border: $btn-secondary-border-width solid $btn-secondary-border;
    box-shadow: 0 2px 1px 0 $btn-secondary-shadow;
  
    transition: $general-transition;
  
    color: $btn-secondary-text;
    
    a {
      color: inherit;
    }
  
    &:hover {
      background-color: $btn-secondary-bg-hover;
      border-color: $btn-secondary-border-hover;
      box-shadow: 0 1px 1px $btn-secondary-shadow, 0 2px 2px $btn-secondary-shadow, 0 4px 4px $btn-secondary-shadow, 0 6px 8px $btn-secondary-shadow, 0 8px 16px $btn-secondary-shadow;
      color: $btn-secondary-text-hover;
    }
  
    &:focus {
      box-shadow: inset 0 0 0 2px rgba($theme-color-3,.25);
    }
  }

.btn-secondary,
.fdescription a,
.modal-dialog .modal-footer a,
.backlink a,
.tool_dataprivacy-expand-all,
#prev-activity-link,
#next-activity-link,
.section-handle.moodle-core-dragdrop-draghandle,
.filepicker-filename a,
.forumpost .footer a,
#page-admin-roles-permissions .preventlink,
#page-admin-roles-permissions .preventlink .forbidden,
#page-admin-roles-permissions .allowlink,
#page-admin-roles-permissions .prohibitlink,
table.form-autocomplete-suggestions,
.form-autocomplete-suggestions a,
fieldset .form-autocomplete-suggestions a,
#page-admin-roles-permissions .role_buttons input[type="button"],
#page-grade-edit-letter-index #region-main .mdl-align a,
.path-admin-tool-assignmentupgrade #region-main div:last-child.mdl-align a,
.course-footer-nav .btn,
#page-admin-user-profile-index a[title="Edit"],
#page-admin-user-profile-index a[title="Delete"],
#page-admin-tool-httpsreplace-index [role="main"] p a,
[data-fieldtype="tags"] a,
#adminsettings fieldset h3 a:not([class=btn-icon]),
.collapsibleregioncaption a:not(.btn-icon),
.header-button-group .btn,
td .commands a,
.backlink a,
.action-menu .dropdown-toggle,
.feedback_mapped_courses .mdl-align a,
.typesummary .helplinkpopup,
#page-mod-quiz-edit .editing_section,
#page-mod-glossary-view .commands a.icon,
#page-mod-glossary-showentry .commands a.icon,
.comment-area .fd a,
.subscribelink a,
.forumpost .link a,
.reportlink a,
#showall a,
.printicon,
.printicon.btn-action,
.comment-link,
.recipelink a,
.midpad a,
.addtomyinterests,
.flagasinappropriate,
.removefrommyinterests,
.edittag,
.bookprev,
.booknext,
.submitbtns .arrow_link,
.edit_pages_box .addlinks a,
.book_toc_numbered .action-list a,
.activity .action-menu-item a,
#page-mod-quiz-report .toggleincludeauto a,
.paging-morelink,
.userpicture a:not(:first-child),
table .btn,
#page-user-profile .node_category .viewmore a,
.path-user .node_category .viewmore a,
.itemnav a,
.section-navigation a
.availability-delete,
.section-navigation a,
.usp-search-btn,
.notesgroup p a,
.tag-backtoallitems a,
.tool_dataprivacy a,
.path-mod-forum .discussion-nav .next-discussion,
.path-mod-forum .discussion-nav .prev-discussion,
.c-lang-menu .dropdown-toggle,
.yui3-widget-buttons .yui3-button:not(.closebutton),
.editquestion a,
#theme_switch_link a,
.commentlink a,
.path-mod-quiz .othernav a,
.exclusivemode,
#page-admin-tool-usertours-configure .btn-action,
.tour-actions a,
.movecategory [role="button"],
.movefield [role="button"],
.export-actions a,
.fp-dlg-butcancel,
.o-standard-footer-html a,
.helplink a,
.userenrolment .col_role .addrole .assignrolelink
{
  background-color: $btn-secondary-bg;
  border: $btn-secondary-border-width solid $btn-secondary-border;
  box-shadow: 0 2px 1px 0 $btn-secondary-shadow;

  transition: $general-transition;

  color: $btn-secondary-text;
  
  a {
    color: inherit;
  }

  &:hover {
    background-color: $btn-secondary-bg-hover;
    border-color: $btn-secondary-border-hover;
    box-shadow: 0 1px 1px $btn-secondary-shadow, 0 2px 2px $btn-secondary-shadow, 0 4px 4px $btn-secondary-shadow, 0 6px 8px $btn-secondary-shadow, 0 8px 16px $btn-secondary-shadow;
    color: $btn-secondary-text-hover;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px rgba($theme-color-3,.25);
  }
}

    .editprofile span a {
      width: 100%;
      margin-bottom: 1rem;
    }

    @include media-breakpoint-only(sm) {
      #prev-activity-link,
      #next-activity-link {
        width: 100%;
        display: block;
      }
    }

    #page-mod-forum-index .subscription {
      display: inline-flex;

      .helplink {
        margin: 10px 0 10px 10px;
      }
    }

    .notesgroup p a,
    .tour-actions a {
      &:before {
        display: none;
      }
    }

    .tour-actions>ul>li {
      height: 8em;
    }

    .addcomponent {
      display: inline-flex;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .usertour a,
    .tool_dataprivacy a,
    .o-standard-footer-html a,
    #theme_switch_link a {
      margin-bottom: 10px;

      @include media-breakpoint-only(sm) {
        width: 100%;
      }
    }

    .purgecaches a,
    .s-footer .helplink a {
      @include media-breakpoint-only(sm) {
        width: 100%;
      }
    }

    .editquestion {
      a {
        .icon {
          margin-right: 0.5rem;
          font-size: 12px;
        }
      }
    }

    .availability-delete {
      img {
        width: 18px;
        height: auto;
      }
    }

    .bookprev {
        float: left;

        @include media-breakpoint-down(md) {
        float: none;
        }
    }

    #page-site-index .page-header-headings {
      margin-right: 1rem;
      margin-left: 1rem;
    }

    .page-header-headings + .header-button-group {
      margin-left: 1rem;
      @include media-breakpoint-only(sm) {
        margin-left: 0;
        display: block;

        .btn {
          width: 100%;
        }
      }
    }

    .quickeditlink {
      align-items: center;
      line-height: 1;
    }

    .printicon.btn-action,
    .printicon {
      padding-left: 3rem!important;
      background-image: none;
      position: relative;

      &:after {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-print);

        font-size: 14px;
        color: inherit;
        opacity: 0.6;

        position: absolute;
        top: calc(50% - 7px);
        left: 20px;
     }     

      @include media-breakpoint-between(sm,md) {
        width: 100%;
        margin-bottom: 1rem;
      }

    }


            @include media-breakpoint-between(sm,md) {
              .glossarycontrol {
                width: 100%;
              }

              #newentryform {
                div {
                  width: 100%;
                }
              }
            }

            .btn a {
              &:hover {
                text-decoration: none;
              }
            }


    #showall a {
      margin-top: 1rem;
    }

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link,
.cancel a {
  font-weight: $font-weight-sm-bold;
  text-decoration: none;
  color: $btn-secondary-text;
  background-color: transparent;
  border-color: transparent;

  @include hover {
    color: $btn-secondary-text-hover;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: inset 0 0 0 2px rgba($theme-color-3,.25);
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    cursor: not-allowed;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg,
#page-grade-grading-manage .actions .action {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm,
.notesgroup p a,
table .comment-link,
.generaltable td .btn,
.tool_dataprivacy-expand-all,
#page-admin-roles-permissions .preventlink,
#page-admin-roles-permissions .preventlink .forbidden,
#page-admin-roles-permissions .allowlink,
#page-admin-roles-permissions .prohibitlink,
#page-admin-roles-permissions .role_buttons input[type="button"],
#page-admin-user-profile-index a[title="Edit"],
#page-admin-user-profile-index a[title="Delete"],
.card-text .footer a,
#page-admin-roles-permissions .confirmation-buttons .btn,
table a.btn-primary,
.typesummary .helplinkpopup,
#page-mod-quiz-edit .editing_section,
.recipelink a,
.addtomyinterests,
.flagasinappropriate,
.removefrommyinterests,
.edittag,
[data-action="delete-competency-link"],
.edit_pages_box .addlinks a,
.newlink a,
.book_toc_numbered .action-list a,
.activity .action-menu-item a,
.forumpost .link a,
.itemnav a,
.table td .btn-link,
.discussionsubscription a,
[data-type="subscription-toggle"],
.path-mod-forum .discussion-nav .next-discussion,
.path-mod-forum .discussion-nav .prev-discussion,
.c-lang-menu .dropdown-toggle,
.editquestion a,
#page-mod-quiz-attempt .questionflag,
.path-mod-quiz .othernav a,
#page-admin-tool-oauth2-issuers .btn,
#page-admin-tool-usertours-configure .btn-action,
.movecategory [role="button"],
.movefield [role="button"],
.bookprev,
.booknext,
.bookexit,
.reportlink a,
.qtype_multichoice_clearchoice a,
.editprofile span a,
.userenrolment .col_role .addrole .assignrolelink,
.unassignrolelink,
#page-mod-quiz-edit ul.slots li.section li.activity .editing_delete
{
  @include button-size($btn-padding-y-sm!important, 1rem!important, $font-size-xs!important, $btn-line-height-sm!important, $border-radius);

  .icon {
    font-size: $font-size-xs;
  }
}

.btn-xs,
a.action-icon,
.grading-report .btn,
td .commands a,
.gradereport-grader-table td .btn,
.gradereport-grader-table th .btn,
.floater.heading.floating .btn,
#participants td a[role=button],
#page-course-management .btn-action
{
  @include button-size(.25rem, .35rem, 0.75rem, $btn-line-height-sm, $border-radius);

  .icon {
    font-size: $font-size-xs;
  }
}

    #previewcontrols {
      .btn {
        margin-right: 2px;
      }
    }

    .qtype_multichoice_clearchoice a {
      margin-top: 1rem;
    }

    .movecategory [role="button"],
    .movefield [role="button"] {
      margin-right: 10px;
    }

    .activity .action-menu-item a {
        margin-left: 0.25rem;
        i {
          font-size: 1rem;
          line-height: 1.2;
        }
    }

    .gradereport-grader-table {
      td, th {
          a {
          margin: 0 0.5rem;

          i {
           margin: 0!important;
           line-height: 1.2;
          }
        }
      }
    }

    .editquestion {
      i {
        margin-right: 0.25rem;
      }
    }

    .section-navigation {
      .sectionname {
        margin: 1rem;
        font-size: 1rem;
        line-height: 1.8;
      }

      .rarrow {
        margin-left: 0.5rem!important;
      }

      .larrow {
        margin-right: 0.5rem!important;
      }
    }


//
// Block button
//

.btn-block,
p.arrow_button input,
#addcontrols input,
#removecontrols input {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type=reset],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.discussion-nav {
  .next-discussion a,
  .prev-discussion a {
    &:before {
      display: none;
    }
  }
}

.discussion-nav .prev-discussion,
.path-mod-forum .discussion-nav .next-discussion
{
  margin-right: 0.25rem;
}

input.form-submit, #id_addidnumbers {
  float: left;
}

/* mod/forum/discuss.php */
#page-mod-forum-discuss {
  .singlebutton,
  div.singleselect {
    margin: 0!important;
  }

  .urlselect {
    margin-right: 1rem;

    @include media-breakpoint-between(sm,md) {
      margin-right: 0!important;
    }
  }
}

//mods for links inside tables
table {
  a.btn-primary {
    margin: 1.5px 0;
    color: $white!important;
  }
}

.section-modchooser-link {

  .icon {
    font-size: 15px;
  }

  a {
    width: 100%;

    margin-top: $spacer;
    margin-bottom: 2 * $spacer;

      &:before {
        display: none;
      }
    }
}

.btn-icon {
  .icon.fa-question-circle {
    color: inherit;
  }
}

#userselector_options {
  display: block;
  margin: 2rem 0 0 0!important;
  width: 100%;
}

.typesummary .helplinkpopup {
  width: 100%;
  text-align: left;
}

#page-mod-wiki-view {
  .settings-menu {
    form {
      input {
        display: inline-flex;
        width: auto;
      }
    }
  }


      @include media-breakpoint-only(sm) {
        .wikisearch {
          text-align: center;
          input {
            display: block;
            width: 100%;
          }
        }
      }


}

.course-footer-nav {
  .hr {
    margin-bottom: 2.5rem;
  }

  .pull-right {
    .btn {
      text-align: right!important;
    }
  }

  .pull-left {
    .btn {
      text-align: left!important;
    }
  }

  .btn {
    max-width: 280px;
  }

  form {
    margin: 0!important;
  }

  div {
    @include media-breakpoint-only(sm) {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

}

  h3 {
    a.btn-icon {
      margin: 0.5rem;
    }
  }

  .discussionsubscription {
    a {
      i {
        margin-right: 0.5rem;
        font-size: $font-size-sm;

        height: auto;
      }
    }
  }

  .forumpost .options .link {
    margin-top: 15px;
    font-size: 12px;

    text-align: left;

    a {
      margin: 0 10px 0 30px;

      @include media-breakpoint-only(sm) {
        margin: 0 10px 0 15px;
      }

      &:before {
        display: none;
      }
    }
  }

  /* two buttons next to each other. eg: admin/roles/override.php */
  .submit_buttons {
    [type="submit"] {
      margin-right: 0.25rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .add-sections,
  .section-modchooser-link
  {
    .icon {
      margin-right: 0.5rem;
    }
  }


  .c-custom-nav-btn {
    padding: .85rem 1rem;

    display: inline-flex;
    align-items: center;

    border-radius: $border-radius;
    cursor: pointer;

    font-size: $font-size-sm;
    font-weight: $font-weight-sm-bold;
    color: $body-color-secondary;
    line-height: 1.2;

    span,
    .c-custom-nav-btn--text {
      margin-left: 10px;
      font-size: $font-size-xs;
      line-height: 1.4;
    }

    @include media-breakpoint-only(sm) {
      margin: 0;
    }

    #topBar5 & {
      margin-right: 1rem;
      @include media-breakpoint-only(sm) {
        margin: 0;
      }
    }

  }

  .activity .action-menu-item a {
      &.cm-edit-action {
        line-height: 1!important;
      }
  }

  @include media-breakpoint-only(sm) {
    .c-lang-menu .dropdown-toggle {
      display: block;
      margin: 10px 0;
    }
  }


      .btn-action {
        padding: 5px;
        color: $link-color;
        font-size: inherit;

        transition: $general-transition;

        .icon {
          margin-right: 5px;
        }

        &:hover {
          color: $link-hover-color;
        }
      }

      .section-navigation {
        .sectionname {
          margin: 9px 12px;
          font-size: 1rem;
          line-height: 2;
        }
 
        select, .custom-select {
          height: auto;
          padding: 12px 1.9rem 12px 1.25rem;
        }

        .rarrow,
        .larrow {
          margin: 0!important;
        }

        .text {
          display: none;
        }
  
        .mdl-right,
        .mdl-left {
          position: relative;
        }

        .mdl-left {
          a {
            padding: 14px 20px 14px 40px;
          }
        }

        .mdl-right {
          a {
            padding: 14px 40px 14px 20px;
          }
        }
  
        .mdl-right:hover {
          .text {
            padding: 5px 10px;
            min-width: 100px;
            width: max-content;
            right: 60px;
            top: 12px;
                
            display: block;
    
            position: absolute;
            background-color: $gray-900;
            
            border-radius: $border-radius;
  
            color: $white;
            font-size: 11px;
          }
        }
  
        .mdl-left:hover {
          .text {
            padding: 5px 10px;
            min-width: 100px;
            width: max-content;
            left: 60px;
            top: 12px;
                
            display: block;
    
            position: absolute;
            background-color: $gray-900;
            
            border-radius: $border-radius;
  
            color: $white;
            font-size: 11px;
          }
        }
  
      }


      #page-admin-tool-usertours-configure {
        .action-icon.btn-action {
          display: inline-flex;
          .icon {
            margin: 0;
          }
        }
      }

      [data-role="deletecategory"] {
        color: $red-600;
      }

      .section-handle.moodle-core-dragdrop-draghandle {
        width: 100%;
        margin-bottom: 10px;
      }
