/* Anchor link offset fix. This makes hash links scroll 60px down to account for the fixed header. */
$fixed-header-y: 50px;
$drawer-width: 250px !default;
$drawer-padding-x: 20px !default;
$drawer-padding-y: 20px !default;
$drawer-offscreen-gutter: 20px !default;

.pagelayout-embedded :target {
    padding-top: initial;
    margin-top: initial;
}

#page {
    padding: 30px 30px 0 $box-spacer;

    #page-site-index & {
      padding: 20px $box-spacer 40px $box-spacer;
    }

    #plugins-check-page {
    padding: 20px 0;
    }

    @include media-breakpoint-only(md) {
      padding: 20px $box-spacer / 2;
    }

    @include media-breakpoint-only(sm) {
      padding: 20px $box-spacer / 2 20px;
    }
}

.sidebar-btn {
    background-color: $btn-primary-bg;
    border: 0;
    border-radius: 45px;
    color: $btn-primary-text;
    padding: 8px 13px;

    width: 41px;
    height: 41px;

    cursor: pointer;

    transition: all 350ms ease;

    @include media-breakpoint-only(sm) {
      position: fixed;
      z-index: 10002;
    }

    #page-site-index & {
      display: none;
    }

    &:hover {
      background-color: $btn-primary-bg-hover;
      color: $btn-primary-text-hover;
    }

    i {
      font-size: 14px;
      line-height: 1.6;
      color: $btn-primary-text;
    }

}

.mobile-topbar-btn {
  padding: 0;
  border: 0;
  background-color: transparent;

  @include media-breakpoint-only(sm) {
    position: fixed;
    z-index: 10004;
    top: 10px;
    right: 10px;
  }

  i {
    background-color: $btn-secondary-bg;
    border: 1px solid $btn-secondary-border;
    box-shadow: $btn-box-shadow;
    border-radius: 45px;
  
    padding: 9px 0;
  
    width: 41px;
    height: 41px;
  
    cursor: pointer;

    font-size: 14px;
    line-height: 1.6;
    color: $btn-secondary-text;
  }

  &:focus {
    box-shadow: none!important;
  }
}

#page-site-index {
  [data-region="drawer-toggle"] {
    display: none!important;
  }
}



  .sidebar-btn--close {
    display: none;

    @include media-breakpoint-between(sm,md) {
      display: block;
      width: 41px;
      height: 41px;

      left: 0;
      opacity: 0;

      transition: all 350ms ease;

      .show-rwd & {
        opacity: 1;
        background-color: $btn-primary-bg;
        border: 0;
        border-radius: 45px;
        color: $btn-primary-text;
        padding: 8px 13px;

        position: fixed;
        left: $drawer-width + 5px;
        z-index: 9999;

        cursor: pointer;

        i {
          color: $btn-primary-text;
        }
      }
    }

    @include media-breakpoint-only(sm) {
      .show-rwd & { left: calc(100% - 61px); }
    }

  }
.opened {
  @include media-breakpoint-down(md) {
  display: block!important;
  }
}



/* Use a variable for the drawer background colors. */
$drawer-bg: $gray-lighter !default;

body.drawer-ease {
  -webkit-transition: margin-left 350ms ease, margin-right 350ms ease;
  -moz-transition: margin-left 350ms ease, margin-right 350ms ease;
  transition: margin-left 350ms ease, margin-right 350ms ease;
}

body.drawer-open-left {
  @include media-breakpoint-up(md) {
      margin-left: $drawer-width;
  }
}


#nav-drawer {
    padding: 17px;
    width: $drawer-width;
    height: 100%;

    position: fixed;
    overflow: scroll;
    z-index: 2;
    top: 0;
    left: 0;
    right: auto;

    background-color: $drawer-bg;
    color: $drawer-text;

    transition: $general-transition;

    @include media-breakpoint-between(sm,md) {
      z-index: 9999;
    }

    @include media-breakpoint-only(sm) {
    .img-fluid {
      max-width: 80%;
    }
    }

    @include media-breakpoint-only(sm) {
      width: 100%;
    }


    .logo {
      img {
        max-height: 200px;
        max-width: 100%;
      }
    }


    .site-name {
      color: $drawer-text;
    }

    &.closed {
      left: -$drawer-width!important;

      @include media-breakpoint-only(sm) {
      left: -100%!important;
      }
    }

    &.show-rwd {
      @include media-breakpoint-between(sm,md) {
      left: 0!important;
      }
    }

    .rtl & {
      right: 0;
      left: auto;
    }

    ul {
      li {
        list-style: none;
        line-height: 1.5;
      }
    }

    .list-group-item {

      .has-arrow {
        background-color: inherit;
        position: relative;
        padding: 9px 16px;

        border: 0;

        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
        color: $drawer-nav-item-text-color;

        text-align: left;

        .text {
          padding-left: 17px;
        }

        .accordion-icon {
          font-size: 11px;
          right: 17px;
        }

        .icon {
          margin: 0!important;
          font-size: 12px;
          position: absolute;
          left: 16px;
          top: calc(50% - 6px);

          transform: rotate(0);
          transition: $general-transition;
          transform-origin: center;

          color: $drawer-nav-item-icon;
          opacity: $drawer-nav-item-icon-opacity;
        }
      }

      .icon {
        margin: 4px 0!important;
      }
    }

    button[aria-expanded="true"] .accordion-icon {
      transform-origin: center;
      transform: rotate(180deg)!important;
    }



    #page-site-index & {
      display: none;
    }

    .nav-sep {
      padding-bottom: 0.5rem;

      margin-top: 2rem;
      margin-bottom: 1rem;

      font-weight: $font-weight-bold;
      text-transform: uppercase;

      color: $gray-700;

      border-bottom: 1px solid $drawer-hr;
    }

    .c-flat-nav-items:not(:empty) {
      padding: 5px;
    }

    .c-flat-nav {
      a {
        &:hover {
          background-color: $drawer-nav-item-hover;
        }
      }
    }

    .c-nav {
      a {
        &:hover {
          background-color: $drawer-nav-box-bg;
        }
      }
    }

    .c-nav,
    .c-flat-nav {
      font-size: $font-size-xs;
      text-align: left;

      &:empty {
        display: none;
        padding: 0;
      }

      .rtl & {
        text-align: right;
      }

      ul {
        li {
          list-style: none;
        }
      }

      .sub-nav {
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;

        position: relative;
    
        &:empty {
          padding: 0;
          margin: 0;
          border: none;
        }
    
        a {
          padding: 6px 5px;
          border-radius: $border-radius;
          color: $drawer-nav-item-text-color;
          opacity: 0.7;
    
          &:hover {
            color: $drawer-nav-item-text-color-hover!important;
          }
        }
      }

    a {
      align-items: center;
      padding: 9px;
      color: $drawer-nav-item-text-color;

      transition: $general-transition;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: $drawer-nav-item-text-color-hover;
      }

      &.has-arrow {
        .icon {
          position: absolute;
          top: calc(50% - 6px);
          right: 10px;

          font-size: 12px;

          transform: rotate(0);
          transition: $general-transition;
          transform-origin: center;
        }

        &[aria-expanded="true"] .icon {
          transform-origin: center;
          transform: rotate(180deg)!important;
        }
      }

      .icon {
        font-size: 15px;
        line-height: 1;
        margin: 0;

        opacity: $drawer-nav-item-icon-opacity;
        color: inherit;
      }
    
      .nav-icon {
        width: 30px;

        display: inline-flex;

        color: $drawer-nav-item-icon;

        transition: $general-transition;
      }

      .text {
        width: calc(100% - 30px);
        word-break: break-all;
      }

      .nav-label {
        width: calc(100% - 40px);
      }

      &:hover {
        color: $drawer-nav-item-text-color-hover;

        .nav-icon {
          color: $drawer-nav-item-icon-hover;
        }
      }

    }
  }

    .hr {
      margin: 2rem 0;
      border-color: $drawer-hr;
    }
}


      #nav-drawer {

        &:focus {
          box-shadow: none;
        }

        .list-group-item,
        .c-flat-nav {
          ul {
            li {
              list-style: none;

              &:focus {
                box-shadow: none;
              }

              a {
                font-weight: $font-weight-sm-bold;
                align-items: center;

                &:hover {
                  color: $drawer-nav-item-text-color-hover;
                  background-color: $drawer-nav-item-hover;
                  border-radius: $border-radius;
                }

                &.active  {
                  background-color: $drawer-nav-item-active;
                }

              }

            }
          }
       
          .btn-accordion {
            background-color: $drawer-nav-box-bg;
            
            &:hover {
              box-shadow: $box-shadow-sm;
            }
          }

          .active {
            position: relative;

            color: $drawer-nav-item-text-color-active;

            a {
              color: $drawer-nav-item-text-color-active;
            }
            
            &:hover {
              a {
                color: $drawer-nav-item-text-color-hover!important;
                
                .nav-icon {
                  color: $drawer-nav-item-text-color-hover!important;
                }
              }
            }
            
            .nav-icon {
              color: $drawer-nav-item-icon-active;
            }

            &:before {
              content: '';

              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;

              width: 100%;

              background-color: $drawer-nav-item-active;
              border-radius: $border-radius;
            }
          }
        }
      }


.block-left {
  .card {
    background-color: transparent;
  }

  .card-body {
    padding: 0;

    .card-title {
        text-align: left;
    }
  }

  .block_course_list {

      ul {
        li {
          a {
            display: inline-flex!important;
          }
        }
      }

  }

  .footer a {
    color: $white!important;
  }

  .block  {
    margin-bottom: 3.5rem!important;

    &:last-child {
      margin-bottom: 0!important;
    }
  }
}

/* Nav */
.c-flat-nav {
  background-color: $drawer-nav-box-bg;
  box-shadow: rgba($drawer-nav-box-shadow,.05) 0 1px 0, rgba($drawer-nav-box-shadow,.05) 0 2px 6px, rgba($drawer-nav-box-shadow,.05) 0 10px 20px;
  border-radius: $border-radius;

  font-size: $font-size-sm;

  #page-course-user & {
    display: none;
  }

  ul li {
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0!important;
    }
  }

  a {
    width: 100%;
    display: inline-flex;
  }

  .sidebar-accordion {
    background-color: $drawer-nav-box-bg;
    border-radius: $border-radius;
    box-shadow: rgba(0,0,0,.05) 0 1px 0, rgba(0,0,0,.05) 0 2px 6px, rgba(0,0,0,.05) 0 10px 20px;
  }
}

  .c-nav-item-container {
    display: inline-flex;
    width: 100%;
    align-items: center;
  }

    .c-nav {
      padding: 20px 0 0 0;
      font-size: .75rem;
      text-align: left;
      position: relative;

      #page-course-user & {
      margin-top: 0;
      }

      a {
        width: 100%;
        display: inline-flex;
        align-items: center;
        padding: 9px 11px;
        margin-bottom: 2px;
        color: $drawer-text;
        border-radius: $border-radius;

        transition: $general-transition;

        &:last-child {
          margin-bottom: 0;
        }

        &.active {
          color: $drawer-nav-item-text-color-active;
        }

        &[data-hidden="1"] {
          opacity: 0.5;
          color: $gray-700;

          &:hover {
            color: $link-color;
          }
        }

        &:hover {
          color: $drawer-nav-item-text-color-active;
          background-color: $drawer-nav-box-bg;
          border-radius: $border-radius;
        }

        .text {
          display: inline-flex;
          line-height: 1.2;
        }

        .icon {
          width: 20px;

          font-size: 16px;
          margin: 2px 10px 2px 0;

          opacity: $drawer-nav-item-icon-opacity;
          color: inherit;          
        }

      }

      &:last-of-type {
        padding-bottom: 0;
        border-bottom: none;
      }


    }

.c-custom-nav {
  padding: 0;

  border-radius: $border-radius;
  background-color: $dropdown-light-bg;

  box-shadow: $dropdown-light-box-shadow;
  position: absolute;
  top: 5px!important;
  min-width: 290px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;

  display: none;

  @include media-breakpoint-between(sm,md) {
    left: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 1rem 1.5rem 0;
    font-size: $font-size-sm;
    text-transform: uppercase;
    color: $dropdown-light-text;
  }

  .c-custom-nav-container {
    padding: 5px 20px 10px;
    margin: 0;

    li {
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      list-style: none;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;

        a {
          padding: 0;

          &:before {
            display: none;
          }
        }
      }

      i {
        display: inline-flex;
        width: 20px;
        height: 20px;

        margin-right: 15px;

        font-size: 16px;
        text-align: center;
      }

      .nav-label {
        display: inline-flex;
        width: calc(100% - 40px);
      }

      a {
          padding: 0;

          display: block;
          width: 100%;

          font-size: $font-size-base;
          font-weight: $font-weight-sm-bold;
          line-height: 1.6;
          color: $dropdown-light-text;

          transition: all 350ms ease;

          &:hover {
            background-color: transparent;
            color: $dropdown-light-link-hover-color;

            &:before {
              background-color: $dropdown-light-link-hover-color!important;
            }
          }

          &:before {
            display: block;
            background-color: $dropdown-light-border;

            width: calc(100% + 56px);
            left: -28px;
            bottom: -7px;
          }
      }
    }

  }

  .c-custom-nav-container.without-icons {
    a {
      padding: 0;

      &:hover {
        background-color: transparent;
      }

      &:before {
        left: 0;
        width: 100%;
      }
    }
  }

  .c-custom-nav-extra {
    background-color: $dropdown-light-bg-secondary;
    border-radius: $border-radius;

    .c-custom-nav-extra-title {
      margin: 0 1.5rem 1rem;
      padding-top: 1rem;
      font-size: $font-size-xs;
      font-weight: $font-weight-sm-bold;
      color: lighten($dropdown-light-text, 10);
      text-transform: uppercase;
    }


    .c-custom-nav-extra-container {
      margin: 1rem 0 0;
      padding: 0 0 1rem 0;
      color: $dropdown-light-link-color;

      li {
          padding: 0 1.5rem 0;

          list-style: none;

          &:last-child {
            padding-bottom: 0;
          }

          a {
            padding: 5px 0;
            font-size: $font-size-xs;
            font-weight: $font-weight-sm-bold;
            color: $dropdown-light-link-color;

            &:before {
              display: none;
            }

            &:hover {
              background-color: transparent;
              color: $link-color;
            }
          }

          i {
            margin: 0 .25rem;
            font-size: 11px;
            text-align: center;
            line-height: 1.5;
          }
      }
    }
  }
}


.c-top-nav {

  .topnav {
    overflow: hidden;

    a {
      float: left;
      display: block;
      color: $top-bar-link;
      text-align: center;
      padding: 1rem 0.75rem;
      text-decoration: none;
      font-size: $font-size-sm;
    }

    .icon {
      display: none;
    }

  }

  .active {
    color: $link-color;
  }

  .dropdown {
    float: left;

    .dropbtn {
      font-size: $font-size-sm;
      font-weight: $font-weight-sm-bold;
      border: none;
      outline: none;
      color: $top-bar-link;
      padding: 1rem 0.75rem;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
  }

  .dropdown-content {
    padding: 0 15px;
    display: none;
    position: absolute;
    background-color: $drawer-nav-box-bg;
    border-radius: $border-radius;
    min-width: 160px;
    max-width: 600px;
    box-shadow: $box-shadow-lg;
    z-index: 4;

    a {
      float: none;
      color: $top-bar-link;
      padding: 16px 0;
      text-decoration: none;
      display: block;
      text-align: left;

      .link-title {
        font-weight: $font-weight-bold;
      }

      .link-desc {
        margin-top: 10px;
        font-size: $font-size-xs;
        color: $body-color-light;
      }
    }
  }


  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    color: $link-color;
  }

  /* Add a grey background to dropdown links on hover */
  .dropdown-content a {
    position: relative;
    font-size: $font-size-xs;

    &:last-child {
      &::before {
        display: none;
      }
    }

    &:before {
      content: '';
      height: 1px;
      position: absolute;
      left: -15px;
      right: -15px;
      bottom: 0;
      background-color: $top-bar-border;

      transition: $general-transition;
    }
  }
  .dropdown-content a:hover {
    color: $link-color;

    &:before {
      background-color: $link-color;
    }
  }

  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .c-top-nav {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
}

.c-custom-main-nav {

  @include media-breakpoint-only(sm) {
    width: 100%;
    display: block;

    .nav-item {
      border-bottom: 1px solid $top-bar-border;
    }

    .navbar-toggler {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      color: $black;
      border-radius: $border-radius;
      border: 1px solid $border-color;
    }
  }

  @include media-breakpoint-between(sm,md) {
    .navbar-nav {
      width: 100%;
    }
  }
 

  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: $font-size-sm;
    padding-left: 0;
    padding-right: 1.5rem;

    @include media-breakpoint-only(sm) {
      padding: 10px;
    }

    &:hover {
      background-color: transparent;
      color: $link-color;
    }

    &:before {
      display: none;
    }
  }

  @include media-breakpoint-only(sm) {
    .navbar-collapse {
      position: absolute;
      background-color: $drawer-nav-box-bg;
      width: 100%;
      top: 0;
      z-index: 10;
      box-shadow: $box-shadow-lg;
      border-radius: $border-radius;
    }
  }

  @include media-breakpoint-only(sm) {
    .navbar-nav .nav-item {
      width: 100%;
      display: block;
      text-align: center;
    }

    .navbar-nav .dropdown-menu {
      width: 100%;
    }
  }

}

/* Top Bar style 6 */
.c-top-nav {
    margin-left: -40px;
    padding: 0 30px 0 40px;
    width: calc(100% + 70px);
}

@include media-breakpoint-up(md) {
#mobileTopBarLogo {
  display: none;
}
}

@include media-breakpoint-only(sm) {
  .c-logo {
    margin: 30px 0;
  }
}

@include media-breakpoint-only(sm) {

  .c-nav-user {
    position: fixed;
    background-color: $top-bar-bg;
    border-top: 1px solid $top-bar-border;
    border-bottom: 1px solid $top-bar-border;
    left: 0;
    top: 60px;
    z-index: 99999;
  }

  .c-logo-mobile {
    background-color: $body-bg;
    box-shadow: $box-shadow;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    .site-name {
      margin: 0!important;
      height: 62px;
      align-items: center;
      justify-content: center;
    }

    img {
      padding: 10px 0;
      height: 62px;
      max-height: 62px;
    }
  }

  #topBar1,
  #topBar2,
  #topBar3,
  #topBar4,
  #topBar5,
  #topBar6
  {
    .logo {
      margin: 0;
      padding: 0 0 1rem;

      width: 100%;

      text-align: center;
    }

    .c-top-text {
      margin: 1rem 0;
      width: 100%;
      display: block;
    }

    .c-lang-menu {
      width: 100%;
      display: block;     
    }

    .c-menu-sep {
      &:after {
        display: none;
      }
    }

    .c-top-nav {
      padding: 0;
      margin: 0;
      width: 100%!important;
    }

    .usermenu .dropdown-menu.show {
      width: 97%;
    }

    .sidebar-btn {
      top: 10px;
      left: 10px;
    }
  }

  #topBar4,
  #topBar5 {
    .c-lang-menu {
      width: 100%;
      display: block;     
    }
  }


  #topBar1,
  #topBar2,
  #topBar6
  {
    .c-lang-menu .dropdown-toggle {
      margin: 10px;
      min-width: auto;
      width: calc(100% - 20px);
    }    

    .dropdown-menu-light,
    .c-custom-nav {
      width: 100%;
      max-width: 100%;
    }

    .c-lang-menu .dropdown-menu.show {
      text-align: center;
      min-width: auto;
      width: 93%;
      max-width: 93%;
    }

  }

  #topBar1,
  #topBar2,
  #topBar4
  {
    .dropdown-menu-light,
    .c-custom-nav {
      width: 100%;
      max-width: 100%;
    }   
  }



  #topBar3
  {

    .dropdown-menu-light {
      min-width: auto;
      width: 100%;
      max-width: 100%;
    }   

    .c-custom-nav {
      width: 90%;
      max-width: 90%;
    } 

    .c-lang-menu .dropdown-toggle {
      margin: 10px 0;
      min-width: auto;
      width: 100%;
      max-width: 100%;
    }   

    .c-lang-menu .dropdown-menu.show {
      text-align: center;
      min-width: auto;
      width: 90%;
      max-width: 90%;
    }

  }

  #topBar4 {
    .logo {
      padding: 1rem 0;
    }

    .c-lang-menu .dropdown-toggle {
      min-width: auto;
      width: 100%;
      max-width: 100%;
      margin: 0;
    }   

    .c-lang-menu .dropdown-menu.show {
      text-align: center;
    }
  }

  #topBar5 {

    .c-custom-nav-container {
      width: 100%;
    }

    .c-custom-nav-btn{
      margin: 10px 0;
      width: 100%;
      display: block;
    }

    .c-lang-menu .dropdown-toggle {
      min-width: auto;
      width: 100%;
      max-width: 100%;
      margin: 0!important
    }   

    .c-lang-menu .dropdown-menu.show {
      text-align: center;
      min-width: auto;
      width: 87%;
      max-width: 87%;
    }  

    .c-custom-nav {
      width: 92%;
      max-width: 92%;
    } 
  }

  #topBar1,
  #topBar2,
  #topBar3,
  #topBar4,
  #topBar5,
  #topBar6
  {
    &.s-top {
      min-height: 63px;

      position: relative;
      z-index: 10001;
      border-bottom: 1px solid $top-bar-border;

      @include media-breakpoint-only(sm) {
      background-color: transparent;
      border-bottom: 0;

      #page-site-index & {
      min-height: auto;
      }

      }
    }
  }

  #topBar5 {
    .c-lang-menu .dropdown-toggle {
      margin: 10px;
    }
  }

  #topBar3,
  #topBar6 {
    .c-custom-nav-container {
      width: 100%;

      .c-custom-nav-btn {
        width: 100%;
        display: block;
        text-align: center;

        @include media-breakpoint-only(sm) {
        margin-bottom: 10px;
        }
      }
    }

    .s-custom-main-nav {
      margin-top: 40px;
    }
  }

  #topBar6 {
    .logo {
      margin-top: 20px;
    }
  }

  .s-top-container {
    display: none;
    padding: 140px 15px 0!important;

    #topBar1 & {
      padding-top: 300px!important;
    } 

    #topBar2 & {
      padding-top: 240px!important;
    } 

    #topBar3 & {
      padding-top: 180px!important;
    }

    #topBar6 & {
      padding-top: 200px!important;     
    }

    &.show {
      display: block;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      position: fixed;
      background-color: $body-bg;
      z-index: 10003;
    }
  }

}

.accordion-nav-content {
  max-height: 250px;
}

.accordion-nav-search-box {
  position: relative;

  .icon {
    position: absolute;
    top: 9px;
    left: 12px;
    font-size: 12px;
    line-height: 1.1;
    color: $drawer-nav-item-text-color;
    opacity: $drawer-nav-item-icon-opacity;
  }

  .accordion-nav-search {  
    padding: 7px 15px 7px 36px!important;
    font-size: $font-size-xs;
    background-color: $drawer-nav-box-bg;
    color: $drawer-nav-item-text-color;
  }
}
