/* modules.less */

// The home for small tweaks to modules that don't require
// changes drastic enough to pull in the full module css
// and replace it completely
// Plus some misc. odds and ends

.feedback_form .itemactions,
.questionflag,
#page-mod-feedback-show_entries .commands,
#page-admin-user-profile-index a[title=Edit],
#page-admin-user-profile-index a[title=Delete],
.moodle-dialogue-bd .form-actions .btn,
.moodle-dialogue-bd [data-region=link-buttons] .btn,
#page-admin-roles-permissions .confirmation-buttons .btn
{
  @extend .pull-right;
}

select {
    width: auto;
}

.path-mod-forum .discussion-nav {
  margin: 0 0 20px;
  padding: 5px;

  border-radius: $border-radius;
  border: 1px solid $border-color;

  ul {
    margin: 0;
    padding: 0;

    .next-discussion {
      padding: 0;

        &:after {
          position: relative;
          right: -6px;
        }
    }

    .prev-discussion {
        padding: 0;

        &:before {
          position: relative;
          left: -6px;
        }
    }

    a:hover {
      text-decoration: none;
    }
  }
}


// Choice module

.path-mod-choice {
    .horizontal .choices .option {
        display: inline-block;
    }
}

.path-mod-feedback .feedback_form .col-form-label {
    display: block !important; /* stylelint-disable-line declaration-no-important */
}

.feedback_itemlist {
  position: relative;
}


.feedback_form {
  .itemname {
    display: block;
    padding-right: 2 * $spacer;
  }

  .itemactions {
    padding: 0 2rem 0 2rem;
  }
}

// Feedback module
.path-mod-feedback .itemhandle i {
    background-color: $white;
    padding: 1rem 1.5rem;
    border-radius: $border-radius;

    color: $body-color;

    border: 2px dashed #E4E8F0;
    box-shadow: $btn-box-shadow;

    position: absolute;
    top: 0;
    right: 0;
}

.path-mod-feedback {
  table.analysis {
    border-top: 1px solid $border-color;
  }

  .feedback_itemlist {
    padding: 1rem;
    border-radius: $border-radius;
    border: 1px solid $border-color;
  }

  .dropdown-toggle {
      padding: 0.5rem 1rem;
  }

  div.feedback_is_dependent {
    background-color: $theme-color-6;
  }
}

#page-mod-feedback-show_nonrespondents {
  .buttons {
    margin-bottom: 2rem;
  }
}



  .clearer {
    margin: 1.5rem 0;
  }

// Forum module
.path-mod-forum {
  .forumsearch {
    margin-right: 0;

    @include media-breakpoint-only(sm) {
      input {
        display: block;
        width: 100%;

        border-radius: $border-radius!important;
      }

      .input-group-prepend {
        width: 100%;
        display: block;
        text-align: center;

        .btn-icon {
          margin: 20px!important
        }
      }

      .input-group-append {
        width: 100%;
        button { border-radius: $border-radius!important; }
      }
    }

    input,
    .helptooltip {
        margin: 0 3px;
    }
  }

  .article .nav .nav-link + .nav-link {
    border-left: none;
  }
}

  #page-mod-forum-discuss .forumsearch {
    margin-right: 0!important;
    position: relative;
    z-index: 0;
  }

.path-mod-forum .forumheaderlist,
.path-mod-forum .forumheaderlist td {
    border: none;
}

.path-mod-forum {
    .forumheaderlist {
        thead .header,
        tbody .discussion td {
            white-space: normal;
            vertical-align: middle;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        thead .header {
            white-space: normal;
            vertical-align: middle;
        }

        thead .header.replies {
            text-align: center;
        }

        thead .header.lastpost {
            text-align: right;
        }

        thead .header th,
        tbody .discussion td {
            &.discussionsubscription {
                width: 16px;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }

        .discussion {
            .replies,
            .lastpost {
                white-space: normal;
            }

            .discussionsubscription,
            .replies {
                text-align: center;
            }

            .topic,
            .discussionsubscription,
            .topic.starter,
            .replies,
            .lastpost {
                vertical-align: middle;
                min-width: 200px;
            }
        }
    }

    // Style for the forum subscription mode node.
    .subscriptionmode {
        color: $body-color-light;
        padding-bottom: 1rem;
    }

    // Style for the currently selected subscription mode.
    .activesetting {
        color: $body-color-light;
        font-weight: bold;
    }
}

.forumpost {
    border-radius: $border-radius;
    border-color: $border-color;

    display: block;
    padding: 2rem;

    .subject {
        font-weight: $font-weight-sm-bold;
        font-size: 1.5rem;
        color: $body-color;
        padding: 10px 0 0;

        a {
          font-weight: $font-weight-sm-bold;
          color: $body-color;
        }


        @include media-breakpoint-only(sm) {
          font-size: 0.8rem;
        }

    }

    .header {
        margin-bottom: 3px;
    }

    .picture img {
        &.userpicture {
            margin-top: 10px;
            @include media-breakpoint-only(sm) {
              margin: 0
            }
        }
    }

    .author {
        font-size: $font-size-sm;
        padding: 0 0 0.5rem;
        margin-bottom: 0;
        color: $gray-700;

        @include media-breakpoint-only(sm) {
          font-size: $font-size-xs;
        }

        a {
          color: $body-color-secondary;
        }
    }

    .post-word-count {
      display: inline-block;

      padding: 0.5rem 1rem;
      margin: 1rem 0 0;


      font-size: 0.75rem;
      font-weight: $font-weight-bold;
      font-style: normal;

      background: $gray-400;
      color: $body-color-secondary;

      border-radius: $border-radius;

    }

    .options {
      padding: 0.5rem 1.25rem;
    }

    .tag_list {
      margin: 1rem 0;
      font-size: $font-size-xs;
    }

    .footer {
      a {
        margin: 0.5rem 1rem;
        width: calc(100% - 2rem);
      }
    }

    .content {
        .posting.fullpost {
            margin-top: 0;
            padding-left: 3rem;

            @include media-breakpoint-between(sm,md) {
              padding-left: 0;
            }
        }
    }

    .row {
        display: block;
        .topic,
        .content-mask,
        .options {
            margin-left: 43px;
            @include media-breakpoint-only(sm) {
              margin-left: 0;
            }
        }

        &.side {
            clear: both;
        }
    }

    .commands {
        margin: 2rem 0;
        font-size: $font-size-xs;

        a {
          margin: 0 1rem;

          &:first-of-type {
            margin-left: 0;
          }
        }
    }
}

.forumpost .row .left {
    width: auto;
}

.forumpost {

  .content,
  .topic {
    padding: 0 2rem;
    @include media-breakpoint-only(sm) {
      padding: 0;
    }
  }

  @include media-breakpoint-only(md) {
    .content {
      padding: 0;
    }
  }


  .picture {
    a {
      &:before {
        display: none;
      }
    }
  }

}

.forumpost .options {
  margin: 1rem -1rem 0!important;
  padding: 2rem 0 1rem!important; //moodle 3.5

  border-top: 1px solid $border-color;

  .attachments {
    margin: 1rem 0 0;
    padding-left: 95px;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
  }

  .commands {
     margin: 0 1rem;
     float: right;

     color: $gray-400;

     @include media-breakpoint-only(sm) {
       margin: 0.5rem 0;
       display: block;
       float: none;
       width: auto;
       text-align: center;
     }

     a {
       padding: 0 1.5rem;
       margin: 1.5rem 0 0.5rem 0;

       @include media-breakpoint-only(sm) {
         display: block;
         padding: 0;
         margin: 1rem 0.5rem;
       }

       font-size: $font-size-sm;
       font-weight: $font-weight-sm-bold;

       color: $body-color-secondary;
       border-left: none!important;

       &:before {
         display: none;
       }
     }
 }
}

[data-region-content="forum-post-core-subject"] {
  font-size: $font-size-sm;
  font-weight: $font-weight-sm-bold;

  color: $body-color-secondary;

  a {
    color: $body-color-secondary;

    &:hover {
      text-decoration: none;
      color: $body-color;
    }
  }
}

.forum-post-footer {
  font-size: $font-size-sm;
}

// Override hardcoded forum modules styling
.forumsearch input[type=text] {
    margin-bottom: 0;
}

@include media-breakpoint-between(sm,md) {
  #page-mod-forum-discuss {
    .form-inline .input-group {
      width: 100%;
    }
  }
}

@include media-breakpoint-only(sm) {
  #page-mod-forum-discuss .discussioncontrol.movediscussion {
    padding-right: 0;
  }
}

#page-mod-forum-discuss .discussioncontrols {
    width: auto;
    margin: 0;


    @include media-breakpoint-only(sm) {
      width: 100%;

      .movediscussionoption {
        .urlselect {
          width: 100%;
          margin: 0.25rem 0!important;
        }
      }
    }

    .form-inline input {
        margin-top: -1px;
    }
}

#page-mod-forum-discuss .discussioncontrols .discussioncontrol {
  &.pindiscussion {
      float: right;
  }

  &.pindiscussion,
  &.displaymode {
    @include media-breakpoint-only(sm) {
      float: none;
      width: 100%;
      padding-right: 0!important
    }
  }
}

@include media-breakpoint-only(sm) {
  #page-mod-forum-discuss {
    .discussionname {
      text-align: center;
    }
  }
}

@include media-breakpoint-between(sm,md) {
  #page-mod-forum-discuss {
    .discussionname {
      margin-bottom: 2rem;
    }
  }
}

.maincalendar .calendarmonth td,
.maincalendar .calendarmonth th {
    border: 1px dotted $table-border-color;
}

.path-grade-report-grader h1 {
    text-align: inherit;
}

#page-mod-chat-gui_basic input#message {
    max-width: 100%;
}

#page-mod-data-view #singleimage {
    width: auto;
}

.template_heading {
    margin-top: 10px;
}

.breadcrumb-button {
    margin-top: 4px;
}

.breadcrumb-button .singlebutton {
    float: left;
    margin-left: 4px;
}

.ie .row-fluid .desktop-first-column {
    margin-left: 0;
}

.langmenu form {
    margin: 0;
}
// contributed by Paul Hibbitts, see http://msdn.microsoft@mixin com/en-us/library/ie/jj583807(v=vs.85).aspx
canvas {
    -ms-touch-action: auto;
}

div#dock {
    display: none;
}

// Choice module

// Lesson module

/** General styles (scope: all of lesson) **/
.path-mod-lesson .invisiblefieldset.fieldsetfix {
    display: block;
}
.path-mod-lesson .answeroption .checkbox label p {
    display: inline;
}
.path-mod-lesson .form-inline label.form-check-label {
    display: inline-block;
}
#page-mod-lesson-view .branchbuttoncontainer .singlebutton button[type="submit"] {
    white-space: normal;
}

/* mod lesson */
#page-mod-lesson-view {
    .fcontainer .no-overflow {
      margin-bottom: 2rem;
    }
}

.path-mod-lesson .generaltable td {
    vertical-align: middle;
    font-size: $font-size-sm;
    line-height: 1.5;

    .dimmed {
      font-weight: $font-weight-bold;
      margin-bottom: 0.5rem;
    }

    label {
        margin-bottom: 0;
    }
    .highlight {
        display: inline-block;
        margin-left: 0.25rem;
    }
    input[type="checkbox"] {
        display: block;
    }
}

.path-mod-wiki .wiki_headingtitle,
.path-mod-wiki .midpad,
.path-mod-wiki .wiki_headingtime {
    text-align: inherit;
}

.path-mod-wiki .wiki_contentbox {
    width: 100%;
}

// Survey module

.path-mod-survey {
    .surveytable {
        > tbody > tr:nth-of-type(odd) {
            background-color: $table-bg;
        }

        > tbody > tr:nth-of-type(even) {
            background-color: $table-bg-accent;
        }

        .rblock label {
            text-align: center;
        }
    }

}

.nav .caret {
    margin-left: 4px;
}

// Dividers
.nav {
    .divider {
        overflow: hidden;
        width: 0;
    }
}

// Usermenu
.userloggedinas,
.userswitchedrole,
.loginfailures {
    .usermenu {
        .usertext {
            float: left;
            text-align: right;
            margin-right: $spacer / 2;
            height: 35px;
            line-height: 1.5;

            .rtl & {
              margin-right: 0;
              margin-left: $spacer / 2;
            }

            .meta {
                display: block;
                font-size: 9px;
                color: $gray-700;
            }
        }
        .avatar {
            img {
                margin: 0;
            }
        }
    }
}

.userloggedinas .usermenu {
    .userbutton .avatars {
        position: relative;
        display: inline-block;
        .avatar {
            &.current {
                display: inline-block;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                img {
                    vertical-align: baseline;
                }
            }
            img {
                width: inherit;
                height: inherit;
            }
        }
        .realuser {
            width: 35px;
            height: 35px;
            display: inline-block;
        }
    }
}

// Quiz module
.path-mod-quiz .mod-quiz-edit-content {
    // Force the quiz edit page to always be large enough to prevent scrolling when accessing the menu.
    margin-bottom: auto;
}

#page-mod-quiz-mod #id_reviewoptionshdr .col-md-3,
#page-mod-quiz-mod #id_reviewoptionshdr .col-md-9 {
    width: auto;
    max-width: none;
    text-align: left;
}
#page-mod-quiz-mod #id_reviewoptionshdr .form-group {
    width: 20rem;
    display: inline-block;
    min-height: 12rem;
}

#page-mod-quiz-mod #id_reviewoptionshdr .btn-link {
    line-height: 1.5;
    vertical-align: bottom;
}
#page-mod-quiz-mod #id_reviewoptionshdr .form-inline {
    float: left;
    clear: left;
}
#page-mod-quiz-mod #id_reviewoptionshdr .form-check {
    margin: 7px 0;
    width: 90%;
    height: 22px;
    justify-content: flex-start;
}

// Question navigation block.
.path-mod-quiz #mod_quiz_navblock {
    .qnbutton {
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
        background-color: $white;
        background-image: none;
        height: 40px;
        width: 30px;
        border-radius: 3px;
        border: 0;
        overflow: visible;
        margin: 0 6px 6px 0;
    }

    span.qnbutton {
        cursor: default;
        background-color: $input-bg-disabled;
        color: $gray;
    }

    a.qnbutton:hover,
    a.qnbutton:active,
    a.qnbutton:focus {
        text-decoration: underline;
    }

    .qnbutton .thispageholder {
        border: 1px solid $gray-400;
        border-radius: 3px;
        z-index: 1;

        font-weight: $font-weight-bold;
        text-decoration: none;
    }

    .qnbutton.thispage .thispageholder {
        border-width: 3px;
    }

    .allquestionsononepage .qnbutton.thispage .thispageholder {
        border-width: 1px;
    }

    .qnbutton.flagged .thispageholder {
        background: transparent url([[pix:theme|mod/quiz/flag-on]]) 15px 0 no-repeat;
    }

    .qnbutton .trafficlight {
        border: 0;
        background: $card-bg none center / 10px no-repeat scroll;
        height: 20px;
        margin-top: 20px;
        border-radius: 0 0 3px 3px;
    }

    .qnbutton.notyetanswered .trafficlight,
    .qnbutton.invalidanswer .trafficlight {
        background-color: $card-bg;
    }

    .qnbutton.invalidanswer .trafficlight {
        background-image: url([[pix:theme|mod/quiz/warningtriangle]]);
    }

    .qnbutton.correct .trafficlight {
        background-image: url([[pix:theme|mod/quiz/checkmark]]);
        background-color: $state-success-text;
    }

    .qnbutton.blocked .trafficlight {
        background-image: url([[pix:core|t/locked]]);
        background-color: $input-bg-disabled;
    }

    .qnbutton.notanswered .trafficlight,
    .qnbutton.incorrect .trafficlight {
        background-color: $state-danger-text;
    }

    .qnbutton.partiallycorrect .trafficlight {
        background-image: url([[pix:theme|mod/quiz/whitecircle]]);
        background-color: $state-warning-text;
    }

    .qnbutton.complete .trafficlight,
    .qnbutton.answersaved .trafficlight,
    .qnbutton.requiresgrading .trafficlight {
        background-color: $gray-light;
    }
}


#page-mod-quiz-edit ul.slots li.section li.activity .instancemaxmarkcontainer form input {
    height: 1.4em;
    vertical-align: middle;
}

#page-mod-quiz-edit ul.slots li.section li.activity .instancemaxmarkcontainer {
    padding: 0;
    margin: 0 0.4em;

    background-color: $theme-color-9;
    color: $theme-color-3;

    display: inline-flex;
    align-items: center;
    border-radius: $border-radius;
  
    font-size: $font-size-sm;
    font-weight: $font-weight-sm-bold;
}

// Assign.
.path-mod-assign [data-region="grade-actions-panel"] {
  height: 80px;
  background-color: $white;
  z-index: 10091;
}

.path-mod-assign [data-region="grade-actions-panel"] [data-region="grade-actions"] .collapse-buttons {
    top: auto;
}

.path-mod-assign div.fileuploadsubmissiontime {
  margin: 9px;
  font-size: $font-size-xs;
  font-weight: $font-weight-sm-bold;
}

.path-mod-assign div.fileuploadsubmission {
  img, a {
    display: inline-flex;
  }
}

.path-mod-assign.jsenabled .expandsummaryicon {
  margin: 0.5rem 0 0.5rem 0!important;
  display: inline-flex!important;
}

.submissionsummarytable  {
  .no-overflow {
    line-height: 1.5;
  }
}

// This section removes the responsiveness from the form in the grading panel
$popout-header-font-size: 1.5 * $font-size-base;
// This can't be calculated from modal-title-padding because we are mixing px and rem units.
$popout-header-height: 4rem;

.path-mod-assign #page-content [data-region="grade-panel"] .mform:not(.unresponsive) .fcontainer .fitem.popout .felement {
    height: calc(100% - #{$popout-header-height});
}

.path-mod-assign [data-region="grade-panel"] {
    padding-top: $spacer;
    top: 163px;
    background-color: $white;
}
.path-mod-assign [data-region="grade-panel"] .fitem > .col-md-3,
.path-mod-assign [data-region="grade-panel"] .fitem > .col-md-9 {
    width: 100%;
    padding: 0;
    max-width: 100%;
    flex: none;
}
.path-mod-assign [data-region="grade-panel"] fieldset,
.path-mod-assign [data-region="grade-panel"] .fitem.row {
    margin: 0;
}

.path-mod-assign [data-region="grade-panel"] .fitem > .col-md-3 > .pull-xs-right {
    float: none !important; /* stylelint-disable-line declaration-no-important */
}

.path-mod-assign [data-region="grade-panel"] .mform .fitem.has-popout .felement {
    width: 100%;
}

.path-mod-assign [data-region="grade-panel"] .mform .fitem .felement {
    width: auto;
}

// Now styles for the popout sections.

.path-mod-assign [data-region="grade-panel"] .popout {
    background-color: $modal-content-bg;
}

.path-mod-assign [data-region="grade-panel"] .fitem.has-popout {
    padding:0;
    @include border-radius($card-border-radius);
    margin-top: 0;
    margin-bottom: $spacer;

}
.path-mod-assign [data-region="grade-panel"] .has-popout .col-md-3 {
    border-bottom: $hr-border-width solid $hr-border-color;
    margin-bottom: $spacer;
}


.path-mod-assign [data-region="grade-panel"] .popout > .col-md-3 {
    @extend .modal-header;
    font-size: $popout-header-font-size;
}

.path-mod-assign [data-region="grade-panel"] .popout [data-region="popout-button"] {
    padding-top: 0;
}

.path-mod-assign #page-content [data-region="grade-panel"] [data-region="popout-button"] {
  color: $body-color;
}

.path-mod-assign #page-content .form-control-static {
  width: 100%;
}

// Now style the fixed header elements.

.path-mod-assign [data-region="assignment-info"] {
    overflow-y: hidden;
}

.path-mod-assign [data-region="grading-navigation"] {
    padding: 6px;
}

.path-mod-assign [data-region="grade-actions"] {
    padding: 10px;
    text-align: left;
}

.path-mod-assign [data-region="user-info"] a {
  color: $body-color;
}

.path-mod-assign [data-region="user-info"] .img-rounded {
    margin-top: 0;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-right: 1rem;
}

.path-mod-assign .fcontainer {
  padding-top: 0;
}

.path-mod-assign [data-region="grading-navigation-panel"] {
    height: 160px;
}

.path-mod-assign [data-region="grading-navigation"] [data-region="input-field"] input {
    width: auto;
    display: inline-block;
}

[data-region="user-count"] {
  min-width: 120px;
}

/**
 * Assign feedback.
 */
.assignfeedback_editpdf_widget * {
    box-sizing: content-box;
}

.assignfeedback_editpdf_widget button {
    box-sizing: border-box;
}

.assignfeedback_editpdf_widget .commentcolourbutton img {
    border-width: 0;
}

.assignfeedback_editpdf_widget .label {
    @extend .tag;
    @extend .tag-info;
}

.assignfeedback_editpdf_menu {
    padding: 0;
}

.path-mod-assign [data-region="grade-panel"] .gradingform_guide .remark .commentchooser {
    float: none;
}
.path-mod-assign [data-region="grade-panel"] .gradingform_guide .markingguideremark {
    width: 100%;
}
.path-mod-assign [data-region="grade-panel"] .mform .fitem .felement[data-fieldtype="grading"] {
    padding: 0;
}
.path-mod-assign [data-region="grade-panel"] .showmarkerdesc,
.path-mod-assign [data-region="grade-panel"] .showstudentdesc {
    background-color: $card-bg;
}

/**
 * Mod LTI.
 */
.path-admin-mod-lti {
    .btn .loader img,
    #tool-list-loader-container .loader img {
        height: auto;
    }
}

.path-mod-assign [data-region="user-selector"] {
  [data-action="previous-user"],
  [data-action="next-user"] {
    margin-top: -2px;
    padding: 7px;
    color: $body-color-secondary;
  }

  .alignment {
   width: auto;
   float: none;
   margin-top: 0;
 }

}

.path-mod-assign [data-region="configure-filters"] {
  margin-top: 54px;

  label {
    display: block;
    width: 100%;
    margin-bottom: 0;
    padding: 0.25rem 1rem;
  }
}

.path-mod-assign div.submissiongraded {
  background-color: $theme-color-5;
}

.path-mod-assign td.earlysubmission, .path-mod-assign div.earlysubmission {
  background-color: $gray-100;
}

.path-mod-assign [data-region="grade-panel"] h3 {
  font-size: 2rem;
  margin: 2rem 0;
}

#page-mod-assign-grader {
  .form-group .col-md-3 {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.path-mod-assign [data-region="grade-panel"] #id_gradeheader {
  input, select {
    width: 100%;
  }
}

@include media-breakpoint-only(sm) {
  #page-mod-data-view {
    .datapreferences, .search_none {

      .boxaligncenter {
        background-color: $theme-color-6;
        padding: 0 1rem 0.5rem;
        border-radius: $border-radius;

        margin: 0 auto;

        tr {
          width: 250px;

          select {
            width: 246px;
          }
        }
      }

      label,
      input,
      select {
        width: 100%;
        display: block;
      }

      input,
      select {
        margin-bottom: .75rem;
        margin-left: 0;
      }

      #advancedcheckbox,
      [for=advancedcheckbox] {
        display: inline-flex;
        width: auto;
      }

      .accesshide {
        display: inline;
      }
    }
  }
}

.confirmation-buttons {
  margin-top: 1rem;

  .btn {
    width: 100%;
    margin-bottom: 0.25rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.resultgraph {
  img {
    max-width: 100%;
    height: 100%;
  }
}

/*database module*/
@include media-breakpoint-only(sm) {
  .path-mod-data-field {
    .fieldadd select,
    .sortdefault select {
      margin: 0 0 0.25rem 0;
      width: 100%;
    }

    .btn.m-l-1 {
      margin: 0;
    }
  }
}


.forumpost .content {
  @include media-breakpoint-only(sm) {
    padding: 0;
  }

  .posting {
     @include media-breakpoint-only(sm) {
       font-size: 0.8rem;
     }
   }
}

/* search courses module on the front page */
@include media-breakpoint-only(sm) {
  #shortsearchbox {
    width: 100%;
  }
}

.attachments {
  margin-top: 2rem;
  padding: $spacer;
  margin-bottom: $spacer;

  background-color: $gray-100;
  border-radius: $border-radius;
}

.discussion-settings-menu {
  .dropdown-toggle {
    padding: .7rem 1rem;
  }
}

@include media-breakpoint-only(sm) {
  .movediscussion {
    select {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}

.path-mod-forum :target>.forumpost:before {
  top: 5px;
  bottom: 5px;
  left: 5px;

  border-radius: $border-radius;
  background: $theme-color-3;
}
