// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  word-break: break-word;
}

h1, .h1 { font-size: $h1-font-size;}
h2, .h2 { font-size: $h2-font-size;}
h3, .h3 { font-size: $h3-font-size;}
h4, .h4 { font-size: $h4-font-size; font-weight: $font-weight-sm-bold;}
h5, .h5 { font-size: $h5-font-size; font-weight: $font-weight-sm-bold; }
h6, .h6 { font-size: $h6-font-size; font-weight: $font-weight-sm-bold;}

.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
  color: $body-color-secondary;

  @include media-breakpoint-only(md) {
    font-size: 1.1rem;
  }

  @include media-breakpoint-only(sm) {
    font-size: 0.9rem;
  }
}

.lead-2 {
  font-size: $font-size-base;
  color: $body-color-secondary;
}

.lead-3 {
  font-size: $font-size-sm;
  color: $body-color-light;
}

// Type display classes
.display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
  line-height: $display-line-height;
}
.display-2 {
  font-size: $display2-size;
  font-weight: $display2-weight;
  line-height: $display-line-height;
}
.display-3 {
  font-size: $display3-size;
  font-weight: $display3-weight;
  line-height: $display-line-height;
}
.display-4 {
  font-size: $display4-size;
  font-weight: $display4-weight;
  line-height: $display-line-height;
}

// e.g /course/modedit.php
h2 {
  .icon {
    margin-right: 1rem;
  }
}

//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

.hr-small {
  width: 80px;
  margin: $hr-margin-y auto;
  
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

.hr-bold {
  border-top: 5px solid $hr-border-color;
}

//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

.small-icon {
  font-size: $small-font-size!important;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


//
// Lists
//

.list {
  margin: 0;
  padding: 0 0 0 1.5rem;

  li {
    padding: 0.25rem 0;
    list-style: disc;
  }
}

.list-unstyled {
  @include list-unstyled;
  margin-bottom: 0;

  li {
    margin-bottom: .5 * $spacer;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}


//
// Misc
//

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
}

.blockquote-footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $blockquote-small-color;

  &::before {
    content: "\2014 \00A0"; // em dash, nbsp
  }
}


label {
  font-weight: $font-weight-sm-bold;
}

/* mods */
#page-mod-feedback-view {
  [role="main"] {
    h3 {
      margin: 2rem 0 0.5rem;
    }
  }
}
