{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/drawer

    This template will render a generic drawer panel.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {}
}}
<div
    id="{{$drawerid}}drawer-{{uniqid}}{{/drawerid}}"
    class="{{$drawerclasses}}{{/drawerclasses}}message-drawer drawer {{^show}}hidden{{/show}}"
    aria-expanded="{{#show}}true{{/show}}{{^show}}false{{/show}}"
    aria-hidden="{{#show}}false{{/show}}{{^show}}true{{/show}}"
    data-region="right-hand-drawer"
    role="region"
    tabindex="-1"
>
    {{$drawercontent}}{{/drawercontent}}
</div>
<div class="message-drawer-backdrop {{^show}}hidden{{/show}}" role="region" aria-expanded="{{#show}}true{{/show}}{{^show}}false{{/show}}" aria-hidden="{{#show}}false{{/show}}{{^show}}true{{/show}}" data-region="right-hand-drawer" tabindex="-1"></div>
