{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/view-summary

    This template renders the list view for the myoverview block.

    Example context (json):
    {
        "courses": [
            {
                "name": "Assignment due 1",
                "viewurl": "https://moodlesite/course/view.php?id=2",
                "courseimage": "https://moodlesite/pluginfile/123/course/overviewfiles/123.jpg",
                "fullname": "course 3",
                "summary": "This course is about assignments",
                "hasprogress": true,
                "progress": 10
            }
        ]
    }
}}
<div role="list">
{{#courses}}
    <div class="c-course-box course-summaryitem" role="listitem"
        data-region="course-content"
        data-course-id="{{{id}}}">
        <div class="d-sm-block d-md-flex">
            <a href="{{viewurl}}" tabindex="-1">
                <div class="summaryimage mr-2" style='background-size: cover; background-image: url("{{{courseimage}}}");'>
                    <span class="sr-only">{{#str}}aria:courseimage, core_course{{/str}}</span>
                </div>
            </a>

            <div class="c-course-content align-self-start d-flex flex-column w-100 {{#isfavourite}}list-group-item--favourite{{/isfavourite}}">
                <div>
                    <a href="{{viewurl}}" class="coursename mb-2">
                        {{#showshortname}}
                            <span class="sr-only">
                                {{#str}}aria:courseshortname, core_course{{/str}}
                            </span>
                            <div class="text-muted muted mb-1">
                                {{{shortname}}}
                            </div>
                        {{/showshortname}}
                        {{> core_course/favouriteicon }}
                        <span class="sr-only">
                            {{#str}}aria:coursename, core_course{{/str}}
                        </span>
                        <span>{{{fullname}}}</span>
                    </a>
                    {{> block_myoverview/course-action-menu }}
                </div>
                <div class="course-box-desc summary mb-0">
                    <span class="sr-only">{{#str}}aria:coursesummary, block_myoverview{{/str}}</span>
                    {{{summary}}}
                </div>
                {{#hasprogress}}<div class="courses-view-course-item-footer mt-4">{{> block_myoverview/progress-bar}}</div>{{/hasprogress}}
            </div>
        </div>
    </div>
{{/courses}}
</div>
